body{
    background: linear-gradient(rgb(173, 87, 87),rgb(0, 0, 0));
    color: black;
    font-family: cursive;
    font-style: italic;
    font-size: 15px;
    text-align: center;
}

h4{
    font-size: 25px;
    text-align: center;
    color: aliceblue;
    height: ;
    width: 1300px;
}

.SliderFlex{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}
#S1{
    display: flex;
    margin-left: 5%;
    margin: 1%;
    border: 3px solid black;
    background: linear-gradient(rgb(255, 255, 255),rgb(124, 60, 60));
    border-radius: 3%;

    height: ;
    width: 220px;
    align-items: center;
    justify-content: center;
}

/* Style for second part of the website*/
.SliderPrice{
    display: flex;
    margin-left: 2%;
}
.Image{
    display: flex;
    border: 3px solid black;
    border-radius: 1%;
}
.Prices{
    flex-direction: row;
    margin-left: 1%;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 225px;
    width: 400px;

    background: linear-gradient(rgb(255, 255, 255),rgb(124, 60, 60));
    border: 5px solid black;
    font-size: 40px;
    border-radius: 2%;
}
#box2{
    margin-top: 1%;
}
/* Style tex container*/

.infofood{
    margin: 1.7%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
}
.textfood{
    border: 5px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: linear-gradient(rgb(255, 255, 255),rgb(124, 60, 60));
    height: 200px;
    width: 300px;
}
#alinear{
    margin-left: 1%;
}
.anuncio{
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    margin-left: 1.7%;
    text-align: left;
    
    background: linear-gradient(rgb(255, 255, 255),rgb(114, 33, 33));
    margin-top: 1%;
    height: 300px;
    width: 1270px;
}

.button1 {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #007bff;
  } 
  .button1:hover {
    background: #0b7dda;
}

/* Style for Grams*/

.grams{
    margin-left: 1%;
    display: flex;
    flex-wrap:wrap;
    height: ;
    width: 1300px;
}

.photograms{
    border: 5px solid white;
    margin-top: 1%;
    margin-left: 1%;
    height: 150px;
    width: 192px;
}